{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">

    {{ macros::head() }}

    <body>

        {% block content %}

        <div class="header-image-container">
            <h1 class="andromeda-header-text">
                <a href="#">{{ config.title }}</a>
            </h1>
            <div class="background-container">
                <div class="centered-text">
                    <h1 class="page-title">{{ page.title | safe }}</h1>
                </div>
              </div>
        </div>
        
        {% endblock content %}
    </body>
</html>